[user]
    name = {{ name }}
    email = {{ email }}

[core]
    editor = {{ editor }}
    pager = delta
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[alias]
    st = status -sb
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --all --decorate
    aliases = config --get-regexp alias

[color]
    ui = auto

[diff]
    colorMoved = zebra

[merge]
    conflictstyle = zdiff3

[url "git@github.com:{{ github_username }}/"]
    insteadOf = https://github.com/{{ github_username }}/

[github]
    user = {{ github_username }}

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
